@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "reset.css";

:root {
  --bg-clr: #141416;
  --outline-clr: #616161;
  --main-clr: #eee;
  --secondary-clr: #adadad;
}

body,
html {
  scroll-behavior: smooth;
  background-color: var(--bg-clr);
  color: var(--main-clr);
}

body {
  padding: 58px 20px 29px 20px;
}

section {
  padding: 2em;
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    height: 1px;
    background-color: var(--outline-clr);
  }
}

@media (max-width: 750px) {
  body {
    padding: 0;
  }
}

/* Main Body */
.terminal {
  max-width: 1230px;
  margin: 0 auto;
  border: 1px solid var(--outline-clr);
}

@media (max-width: 520px) {
  .terminal {
    border: none;
  }
}

/* Header */
header {
  padding: 2em;
  border-bottom: 1px solid var(--outline-clr);
}

.title {
  line-height: 1.25em;
  display: inline-block;
  font-weight: bold;
  font-size: 64px;
}

.subtitle {
  padding-left: 2px;
  color: var(--secondary-clr);
  font-weight: normal;
  font-size: 24px;
}

/* Navigation */
nav {
  border-bottom: 1px solid var(--outline-clr);

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      z-index: 10;
      position: relative;
      width: 100%;
      height: 100%;
      flex: 1;
      text-align: center;
      transition: color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);

      &::before {
        content: "";
        position: absolute;
        top: 25%;
        width: 1px;
        left: 0;
        height: 50%;
        background-color: var(--outline-clr);
        z-index: -1;
        transition: width 250ms cubic-bezier(0.645, 0.045, 0.355, 1),
          height 250ms cubic-bezier(0.645, 0.045, 0.355, 1) 250ms,
          top 250ms cubic-bezier(0.645, 0.045, 0.355, 1) 250ms,
          background-color 250ms cubic-bezier(0.645, 0.045, 0.355, 1) 250ms;
      }

      &:first-child::before {
        content: "";
        position: absolute;
        top: 25%;
        width: 0px;
        left: 0;
        height: 50%;
      }

      &:hover {
        color: #333;
        &::before {
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #bfbfff;
        }
      }

      a {
        display: block;
        padding: 24px 0;
        width: 100%;
        height: 100%;

        &::before {
          content: "~$ ";
        }

        &::after {
          content: " --list";
        }
      }
    }
  }
}

@media (max-width: 750px) {
  nav {
    ul {
      flex-direction: column;
      li {
        &::before {
          width: 0px;
        }
      }
    }
  }
}

/* Projects */

#projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

#projects-container > * {
  flex: 1 1 400px;
  min-width: 400px;
  box-sizing: border-box;
}

@media (max-width: 520px) {
  #projects-container > * {
    max-width: 100%;
  }
}

.project {
  margin-top: 2em;
  border: 1px solid var(--outline-clr);
  display: flex;
  flex-direction: column;

  header {
    padding: 1em;
    .project-title {
      font-size: 1.5em;
    }

    .project-subtitle {
      color: var(--secondary-clr);
    }
  }

  .project-img-container {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: 0 auto 1em auto;
    overflow: hidden;
    border: solid 1px 0 1px 0 var(--outline-clr);
    background: #222;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 500ms cubic-bezier(0.4, 0.2, 0.2, 1);

      &:hover {
        transform: scale(1.08) rotate(1deg);
      }
    }
  }

  .project-description {
    color: var(--secondary-clr);
    font-size: 1em;
    margin: 0 0 1em 0;
    padding: 0 0.2em 0 0.2em;
    flex: 1;
    line-height: 1.5;
    text-align: center;

    h3 {
      padding: 0;
    }
  }

  .project-footer {
    border-top: solid 1px var(--outline-clr);

    ul {
      padding: 1em;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 0.5em;
      flex-wrap: wrap;

      li {
        border-radius: 999px;
        border: 1px solid var(--outline-clr);
        padding: 0.5em 1em;
      }
    }
  }
}

/* Footer */
.disclaimer {
  margin-top: 29px;
  color: #555;
  text-align: center;
}

/* Go-to-top button */
.go-to-top {
  position: fixed;
  right: 45px;
  bottom: 58px;
  width: 100px;
  height: 100px;
  border: 1px solid var(--outline-clr);
  background-color: var(--bg-clr);

  img {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
}
